.dialog {
  border: 5px solid goldenrod;
  border-radius: 12px;
  display: none;
  position: absolute;
  background: #242424;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.2);
  color: white;
  will-change: top, left;

  &--visible {
    display: block;
  }

  &__title {
    font-size: 24px;
    font-family: copperplate;
    color: white;
    cursor: pointer;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:after {
      content: "\2716";
      font-size: 24px;
      color: gold;
      text-shadow: 0 0 2px black;
    }
  }
}