@import './mixins.scss';

.toolbar {
  display: flex;
  @include blur-background(10px);
  background: rgba(40, 40, 50, 0.85);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .2);

  & .toggle-widget {
    background: rgba(0, 0, 0, 0.2);
    padding-right: 12px;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__button {
    padding: 0 12px;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    &:last-child {
      margin-left: auto;
      margin-right: 16px;
    }
  }
}
